@page
@model AutoEscolaPDC.Pages.Funcionarios.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Funcionario</h4>
<hr />
<form method="post">

    <div class="row">

        <div class="col-md-10">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Funcionario.ANome" class="control-label"></label>
                <input asp-for="Funcionario.ANome" class="form-control" />
                <span asp-validation-for="Funcionario.ANome" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Funcionario.Idade" class="control-label"></label>
                <input asp-for="Funcionario.Idade" class="form-control" />
                <span asp-validation-for="Funcionario.Idade" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Funcionario.Login" class="control-label"></label>
                <input asp-for="Funcionario.Login" class="form-control" />
                <span asp-validation-for="Funcionario.Login" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Funcionario.Password" class="control-label"></label>
                <input asp-for="Funcionario.Password" class="form-control" />
                <span asp-validation-for="Funcionario.Password" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Funcionario.Cargo" class="control-label"></label>
                <input asp-for="Funcionario.Cargo" class="form-control" />
                <span asp-validation-for="Funcionario.Cargo" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Funcionario.DtAdmissao" class="control-label"></label>
                <input asp-for="Funcionario.DtAdmissao" class="form-control" />
                <span asp-validation-for="Funcionario.DtAdmissao" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <br />
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

    <div>
        <a asp-page="Index">Voltar a lista</a>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
